<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="icon" href="../static/img/code.png" type="image/png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  <title>Daniel Mota - Portfolio</title>
</head>

<body>
  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/foto-portfolio.png" alt="Daniels photo" />
      <h1>Daniel Mota</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/danmota96/">
          <i class="bi bi-linkedin"></i>
        </a>

        <a target="_blank" href="https://github.com/danmota96">
          <i class="bi bi-github"></i>
        </a>

        <a target="_blank" href="https://www.instagram.com/dandan.ms/">
          <i class="bi bi-instagram"></i>
        </a>

        <a target="_blank"
          href="https://api.whatsapp.com/send/?phone=5527998003895&text&type=phone_number&app_absent=0">
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home"><i class="bi bi-house" aria-hidden="true"></i>
            Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about"><i class="bi bi-person" aria-hidden="true"></i>Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#stacks"><i class="bi bi-list-check" aria-hidden="true"></i> Stacks</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i> Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://drive.google.com/file/d/1qOhpEmSw11CjyCY6Yal48HxvKsD-jL5R/view"
            target="_blank" download><i class="bi bi-file-earmark" aria-hidden="true"></i>CV</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id="main">
    <section id="home" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Daniel Mota</h2>
        <span id="subtitle" class="text-white text-shadow">Desenvolvedor FullStack
        </span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="scroll" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#more">Scroll down</a>
        </div>
      </div>
    </section>

    <section class="container mt-5" id="about">
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">Sobre</h2>
          <p>
            Me chamo Daniel Mota, tenho 26 anos, apaixonado por tecnologia, filmes, música, jogos e jiu-jitsu.
          </p>
          <p>
            Sou Técnico em Química formado pelo Instituto Federal do Espírito Santo (IFES), atualmente em transição de
            carreira, iniciei meus estudos em programação no início de 2022 na Blue EdTech.
          </p>
          <p>

            Estou focado em crescer na minha carreira como desenvolvedor de software e sempre
            me manter atualizado das novas tecnologias do mercado, por meio de leituras diárias e desenvolvendo projetos
            pessoais.
          </p>
          <p>

            Como metas tenho como iniciar uma graduação, me tornar desenvolvedor sênior e seguir carreira na área
            educacional ou na parte de gestão de tecnologia, em cargos como Gerente de Produto, por exemplo.
          </p>
        </div>
      </div>
    </section>

    <section class="mt-5 section-bg" id="stacks" data-anime="up">
      <div>
        <div class="container pb-5 text-center">
          <h2 class="pt-5">Minhas Stacks</h2>
          <div class="row mt-3">
            <div class="col ">
              <img src="../static/icons/javascript.svg" />
              <h4>Javascript</h4>
            </div>
            <div class="col">
              <img src="../static/icons/typescript.svg" />
              <h4>Typescript</h4>
            </div>
            <div class="col">
              <img src="../static/icons/html5.svg" />
              <h4>HTML5</h4>
            </div>
            <div class="col">
              <img src="../static/icons/css3.svg" />
              <h4>CSS3</h4>
            </div>
            <div class="col">
              <img src="../static/icons/react-original.svg" />
              <h4>React</h4>
            </div>
          </div>
          <div class="row mt-5 ">
            <div class="col">
              <img src="../static/icons/mongodb.svg" />
              <h4>MongoDB</h4>
            </div>
            <div class="col">
              <img src="../static/icons/nestjs.svg" />
              <h4>NestJS</h4>
            </div>
            <div class="col">
              <img src="../static/icons/postgresql.svg" />
              <h4>Postgresql</h4>
            </div>
            <div class="col">
              <img src="../static/icons/node-js.svg" />
              <h4>Nodejs</h4>
            </div>
            <div class="col">
              <img src="../static/icons/git.svg" />
              <h4>Git</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section mt-5" id="portfolio">
      <div class="container pb-5 pt-5" data-anime="left">
        <h2 class="pb-4">Portfolio</h2>
        <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/lanches-react.png" class="card-img-top" alt="burgerlist" />
                    <div class="card-body">
                      <h5 class="card-title">Burger List</h5>
                      <p class="card-text">Projeto FullStack criado com MongoDB Atlas, documentação do backend realizada
                        no Swagger, Frontend desenvolvido com React, Javascript e CSS.</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/lanches-front-end" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                        <a href="https://lanches-react-1gmror4j7-danmota96.vercel.app/" target="_blank"
                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../static/img/XBOX-LIVE.png" class="card-img-top img-fluid w-100" alt="print de xbox-live" />
                    <div class="card-body">
                      <h5 class="card-title">Xbox Live</h5>
                      <p class="card-text">Projeto FullStack criado com ReactTS, Styled-components, postgresql, sistema
                        de login com autenticação (jwt), CRUD de usuários (admin), jogos, gêneros e perfis.</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/xbox-live-front-end" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                        <a href="https://xbox-live-mocks.herokuapp.com/" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-link"></i></a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="../static/img/blue-landing-page-javascript.png" class="card-img-top img-fluid w-100"
                      alt="print landing page" />
                    <div class="card-body">
                      <h5 class="card-title">Landing Page Blue EdTech</h5>
                      <p class="card-text">Projeto Frontend criado com Javascript, Node, HTML e CSS.</p>
                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/aula-landing-page-node" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card h-100">
                    <img src="../static/img/pizza-fresh.png" class="card-img-top img-fluid w-100 "
                      alt="print pizza fresh" />
                    <div class="card-body">
                      <h5 class="card-title">Pizza Fresh</h5>
                      <p class="card-text">Projeto FullStack criado com ReactTS, Styled-components, login com
                        autenticação (jwt), CRUD de usuários (admin), productos, mesas, perfis e sistema e pedidos. </p>
                      <div class="d-flex justify-content-center">
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/danmota96/pizza-fresh-front-end" target="_blank"
                            class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="https://pizza-fresh-server.herokuapp.com/" target="_blank"
                            class="btn btn-outline-dark me-3"><i class="bi bi-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>

        </div>
    
    </section>

  </main>

  <footer id="footer">
    <div class="container">
      <div class="text-center">
        &copy; <strong>2022 Daniel Mota</strong>
      </div>
    </div>
  </footer>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>