<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="icon" href="../static/img/code.png" type="image/png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  <title>Daniel Mota - Portfolio</title>
</head>

<body>
  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/foto-portfolio.png" alt="Daniels photo" />
      <h1>Daniel Mota</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/danmota96/">
          <i class="bi bi-linkedin"></i>
        </a>

        <a target="_blank" href="https://github.com/danmota96">
          <i class="bi bi-github"></i>
        </a>

        <a target="_blank" href="https://www.instagram.com/dandan.ms/">
          <i class="bi bi-instagram"></i>
        </a>

        <a target="_blank"
          href="https://api.whatsapp.com/send/?phone=5527998003895&text&type=phone_number&app_absent=0">
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home"><i class="bi bi-house" aria-hidden="true"></i>
            Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about"><i class="bi bi-person" aria-hidden="true"></i> About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#stacks"><i class="bi bi-list-check" aria-hidden="true"></i> Stacks</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i> Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Currículo Daniel Mota.pdf" download><i class="bi bi-file-earmark"
              aria-hidden="true"></i>Dowload CV</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id="main">
    <section id="home" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Hey, I´m Daniel</h2>
        <span id="subtitle" class="text-white text-shadow">I'm a JR Full Stack Developer based in Brazil. Focused on
          writing
          clean, scalable and efficient code.
        </span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="scroll" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#more">Scroll down</a>
        </div>
      </div>
    </section>

    <section class="container mt-5" id="about">
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">About me</h2>
          <p>
            I'm Daniel Mota Silva, 26 years old Brazilian Web Developer,
            passionate about technology, movies, music, games and more.
          </p>
          <p>
            I am a Chemistry Technician graduated from the Federal Institute
            of Espírito Santo and currently in career transition, I started my
            studies in software development since february 2022 at Blue
            EdTech.
          </p>
          <p>
            I'm focused on growing in my career as a software developer while
            maintaining daily learning through reading, coding my own
            projects.
          </p>
          <p>
            As main goals I have to start a degree, become a senior developer
            and move on to a career in education or management positions as
            Product Manager.
          </p>
        </div>
      </div>
    </section>

    <section class="mt-5 section-bg" id="stacks" data-anime="up">
      <div>
        <div class="container pb-5">
          <h2 class="pt-5">My Stacks</h2>
          <div class="row mt-3">
            <div class="col">
              <img src="../static/icons/javascript.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/typescript.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/html5.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/css3.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/react-original.svg" />
            </div>
          </div>
          <div class="row mt-5 ">
            <div class="col">
              <img src="../static/icons/mongodb.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/nestjs.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/postgresql.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/node-js.svg" />
            </div>
            <div class="col">
              <img src="../static/icons/git.svg" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section mt-5" id="portfolio">
      <div class="container pb-5 pt-5" data-anime="left">
        <h2 class="pb-4">Portfolio</h2>
        <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/lanches-react.png" class="card-img-top" alt="burgerlist" />
                    <div class="card-body">
                      <h5 class="card-title">Burger List - Frontend</h5>

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/lanches-front-end" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                        <a href="https://lanches-react-1gmror4j7-danmota96.vercel.app/" target="_blank"
                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/lanches-api.png" class="card-img-top img-fluid w-100"
                      alt="burgerlist-api" />
                    <div class="card-body">
                      <h5 class="card-title">Burger List - API</h5>

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/codethi/blogPessoal-front-back" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                        <a href="https://apilanchesblue.onrender.com/lanches/api-docs/" target="_blank"
                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/xbox-api.png" class="card-img-top img-fluid w-100" alt="print do blog" />
                    <div class="card-body">
                      <h5 class="card-title">Xbox Live - API</h5>

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/xbox-live-api" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                        <a href="https://xbox-live-server.onrender.com/api" target="_blank"
                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="../static/img/blue-landing-page-javascript.png" class="card-img-top img-fluid w-100"
                      alt="print do blog" />
                    <div class="card-body">
                      <h5 class="card-title">Landing Page Blue EdTech</h5>

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/aula-landing-page-node" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../static/img/pizza-fresh-front.png" class="card-img-top img-fluid w-100"
                      alt="print do blog" />
                    <div class="card-body">
                      <h5 class="card-title">Pizza Fresh - Frontend</h5>

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/xbox-live-front-end" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../static/img/xbox-live-front.png" class="card-img-top img-fluid w-100"
                      alt="print do blog" />
                    <div class="card-body">
                      <h5 class="card-title">Xbox Live - Frontend</h5>

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/danmota96/xbox-live-api" target="_blank"
                          class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>


  </main>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>